#product {
  padding-top: 110px;

  .content.container {
    .content-items {
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      // background-color: lavender;

      .images {
        // background-color: gold;
        width: 500px;
      }

      .item {
        // background-color: lawngreen;
        width: 300px;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .item-quantity {
          width: 100%;
          display: flex;
          justify-content: center;
          flex-wrap: wrap;
          align-items: center;
          flex-direction: column;

          p {
            margin: auto;
            text-align: center;
          }

          button { 
            width: 100%;
          }

          .quantity-button {
            span {
              margin: 20px;
            }
          }
        }
      }
    }
  }
}
