#navbar {
  position: fixed;
  width: 100%;
  z-index: 99;

  #nav-one {
    background-color: #262626;
    height: 30px;
    color: white;
  }

  #nav-two {
    background-color: #fffffa;
    height: 80px;
  }

  #logo {
    text-transform: uppercase;
    font-size: -webkit-xxx-large;
    font-weight: lighter;
    cursor: pointer;
  }

  .badge {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
  }

  .badge-warning[href] {
    background-color: #c67605;
  }

  #lblCartCount {
      font-size: 12px;
      background: #ff0000;
      color: #fff;
      padding: 0 5px;
      vertical-align: top;
      margin-left: -10px; 
  }
}
